@import "tailwindcss";
@plugin "daisyui" {
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	themes: light --default, emerald, cupcake;
}


/* .cally_anchor{
	anchor-name: --cally_anchor;
}

.cally_target{
	position: absolute;
	position-anchor: --cally_anchor;
	top: cally_anchor(--cally_anchor top);
	left: cally_anchor(--cally_anchor left);
} */
